
@media(max-width: 768px) {
  .carousel {
    width: 220px;
    height: 180px;
}

.pragrphy {
    color: white;
    margin-top: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.brand{
  margin-top: 400px;
}

.heading-1 h2 {
    font-size: 30px; 
}

.heading-1 h1 {
    font-size: 40px;
}

}

@media(max-width: 1200px) {

  .info {
 margin-top: 0px;
 margin-left: 0px;
}

.info span {
  display: block ;
  color: #DA4D0B;
  font-size: 60px;
  margin-top: 150px;
}
}































